{
  "presets": [
    ["vayne", {
      "enableVueJsx": true
    }]
  ],
  "plugins": [
    ["component", [
     {
      "libraryName": "element-ui",
      "styleLibraryName": "~theme"
     }
    ]]
  ]
}
